@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 560px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 80px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box1, .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box3, .input-box4 {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 30px 0;
}

.input-box1 input, .input-box2 input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    background: transparent;
}

.ip1 {
    position: relative;
    width: 100%;
    height: 70%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.ip2 {
    margin: 5px 5px 0 7px;
}

.input-box1 input::placeholder, .input-box2 input::placeholder {
    color: #fff;
}

.ip1::placeholder {
    color: #fff;
}

.input-box1 i, .input-box2 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box3 i, .input-box4 i {
    position: absolute;
    right: 20px;
    top: 34%;
    transform: translateY(-50%);
    font-size: 20px;
}

.rm {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.rm label input {
    accent-color: #fff;
    margin: 5px 5px 0 7px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

/* header */
.header {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
}

.header nav {
    position: absolute;
    width: 100%;
    height: 100px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    outline: black solid 2px;
    align-items: center;
    justify-content: right;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}

nav ul li a:hover {
    font-size: 30px;
    text-decoration: underline;
}

.header nav button {
    width: 180px;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 50px;
}

nav button a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.header nav button {
    width: 180px;
    height: 80px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 50px;
    transition: 0.5s;
}

.header nav button:hover {
    border-radius: 40px;
}

nav button a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}

nav button a:hover {
    font-size: 30px;
    text-decoration: underline;
}